@import "tailwindcss";

@theme {
  --color-brand-purple: #B392F8;
  --color-brand-purple-dark: #9F75F6;
  --color-brand-purple-light: #EBE5FA;
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
